<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stardew Info</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Stardew Valley Info</h1>
    <p>Click on one of the sections above to get started! (Not home, obviously - you're already here)</p>
</body>
</html>